.verde{
    height: 50px;
    background-color: #29FE2F;
    border: "solid" 1px black;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.rojo{
    height: 800px;
    background-color: #FC0D1B;
    border: "solid" 1px black;
    box-sizing: border-box;
}
.rosa{
    background-color: #FD29FD;
    height: 50px;
    border: "solid" 1px black;
    box-sizing: border-box;
    margin: 5px;
}
.naranja{
    background-color: #FE9A5D;
    height: 100px;
    border: "solid" 1px black;
    box-sizing: border-box;
    margin: 1px;
}
.verde2{
    height: 20px;
    background-color: #29FE2F;
    border: "solid" 1px black;
    margin-bottom: 20px;
    box-sizing: border-box;
}